/* Navbar stuff */
#navbar {
  overflow: hidden;
}

#navbar a {
  float: left;
  display: block;
  color: #1664FF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

#navbar a:hover {
  color: #1EFFCA;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}