/* Coloring the site */
body {
    background-color: #00137F;
    color: #16B5FF;
}

socials {
    color: #1664FF;
}

/* Spacing and centering */

header {
    padding-top: 25rem;
    padding-bottom: 25rem;
}

main {
    padding-top: 25rem;
    padding-bottom: 25rem;
}

footer {
    padding-top: 15rem;
    padding-bottom: 25rem;
}

.grid {
    display: grid;
    place-items: center;
    text-align-last: center;
}

/* Putting a line under text I choose */

.underline {
    border-bottom: 1px solid #1EFFCA
}

/* hide scrollbar but allow scrolling */
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }